/* 
    Creado el : 30/12/2013, 11:06:05 PM
    Autor     : Keyvin Duque
*/

#content {
    padding-top: 100px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.mensajes {
    height: 300px;
    overflow: auto;
    margin-bottom: 1em;
    margin-right: 10px;
}